/* CSS Variables */
:root {
    --dark: #001;
    --light: #E5E5E5;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
    box-sizing: border-box;
    font-family: 'Source Serif Pro', serif;
    color: var(--dark);
}

body {
    margin: 0;
    line-height: 1.4;
    text-align: center;
    font-size: 18px;
}

img {
    max-width: 100%;
}

h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
    padding-top: 2rem; 
}

hr {
    width: 50%;
    margin-bottom: 3rem;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/* Main navigation */
.main-navigation {
    padding: 5% 5% 5% 5%;
    position: sticky;
    top: 0;
    height: 100vh;
    box-sizing: border-box;  /* to stop main-navigation from jumping */
    background-color: var(--light);
}

.picture-name img {
    border-radius: 50%;
}

.picture-name h1 {
    font-family: 'lato';
    text-transform: uppercase;
}

.main-nav ul {
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    padding: 2rem 0;  
}

.main-nav ul li {
    padding-bottom: 1rem; 
    font-size: 1.3rem;
}

.main-nav a {
    text-decoration: none;
    color: var(--dark)
}

.social a {
    padding-left: 20px; 
    color: var(--dark);
}

.fa-twitter , .fa-linkedin {
    color: #1da1f2;
}


/* Main section */
.tech-icons {
    display: grid;
    grid-column-gap: 10%;
    grid-row-gap: 25%;
    grid-template-columns: repeat(3, 15%);
    padding-left: 27.5%;
    justify-items: center;
}

.main-section {
    background: #FFFCF7;
    color: var(--dark);
}

.project {
    padding-bottom: 2rem;
    
}

figure {
    display: grid;
    grid-gap: 15px;
    grid-template-areas: 'content img';
    grid-template-columns: 1fr 2fr;
}

figure img {
    grid-area: img;
    box-shadow: var(--shadow);
}

figure .content {
    grid-area: content;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about p {
    padding-left: 10%;
    padding-right: 10%;
}

/* Footer */
footer {
    background-color: var(--dark);
    color: var(--light);
    margin-top: 100px;
    line-height: 100px;
}

/* Media Queries */
@media (max-width: 1000px) {
    .main-navigation {    /* to stop main-navigation from jumping */
        box-sizing: border-box;
    } 

    figure {
        grid-template-areas: 
        ' img img'
        ' content content';

    }
}

